:root {
    --text-gradient: radial-gradient(
        circle farthest-corner at center center,
        #58f9ff 0%,
        #df44e7 100%
    );
}


.terminal__skills__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 2.2rem;
}
.terminal__skills {
	padding: 2.2rem 0;
}

.terminal__skills h2 {
	font-size: var(--text-xx-large);
	font-weight: 600;
	color: var(--secondary-90);
	padding: 2.2rem 0;
}

.terminal__skills {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.color__gradiente {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.base {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.base {
	width: min-content;
	color: var(--icon-color);
}
.icon {
	font-size: 7rem;
}

/* .icon {
    filter: brightness(0.7);  //Ajusta el valor según sea necesario 
} */

.name {
	font-size: var(--text-general);
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}